<h1 class="text-center">Contact Us</h1>

<br><br>

<p class="text-center">Here at GroundUp we're ready to help you with all of your remodeling needs. If you would like more information on what we can do for you, please fill out the form below and we will have one of our service specialists contact you.</p>

<br><br>

<div class="row">
	<div class="col-md-1">
		<ul class="nav nav-pills nav-stacked">
		  <li><a href="https://twitter.com/" target="_blank" class="btn btn-lg btn-social-icon btn-twitter btn-color"><span class="fa fa-twitter" style="font-size:36px"></span></a></li>
		  <li><a href="https://www.facebook.com/" target="_blank" class="btn btn-lg btn-social-icon btn-facebook btn-color"><span class="fa fa-facebook" style="font-size:36px"></span></a></li>
		  <li><a href="https://www.instagram.com/" target="_blank" class="btn btn-lg btn-social-icon btn-instagram btn-color"><span class="fa fa-instagram" style="font-size:36px"></span></a></li>
		</ul>
	</div>

	<div class="col-md-10">
		<div class="text-center">
			<form action="/action_page.php">
				First name:
				<input type="text" name="firstname"><br><br>
				Last name:
	  			<input type="text" name="lastname"><br><br>
	  			Your Email:
	  			<input type="text" name="email"><br><br>
	  			<input class="btn btn-primary" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
